.heading
  {
    margin-top: 50px;margin-bottom: 30px;font-size: 2.9em;
  }
  .column-left{ 
    float: left; 
    width: 33%; 

    }
.column-right{ 
    float: right;
    width: 33%;

    }
.column-center{ 
    display: inline-block;
    width: 33%;

    }


.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 50px 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/**** BTN No. 6 ****/
.btn-6 {
  width: 130px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before, .btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 0.1s ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 0.1s 0.2s ease;
}
.btn-6:hover:before {
  transition: all 0.1s 0.2s ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 0.1s ease;
  height: 100%;
}
.btn-6 span:before, .btn-6 span:after {
  position: absolute;
  content: "";
  background: #000;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 0.1s 0.1s ease;
}
.btn-6 span:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.btn-6 span:hover:before {width: 100%;}