div.cont
    {
        margin-top: 3%;
        margin-bottom: 3%;
    }
.processstyle
    {
        font-family: azo sans;
        font-weight: bold;
        font-size: 1.6em;
        color: #00b2a3;
    }
.processstyle:focus
{
    color: #00b2a3;
}


tr.trsize
    {
        height: 8px !important;
    }

.thumb
    {
    width: 50%;
    }
.delete
    {
    font-size: .8em; font-weight: bold;
    background-color: white;
    width:106px;
    color: #f44336; 
    border: 2px solid #f44336;
    transition: 0.5s;
    }
.delete:hover
    {
    background-color: #f44336;
    color: white;
    transition: 0.5s;
    }
.edit
    {
    font-size: .8em; font-weight: bold;
    background-color: white;
    width:106px;
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    margin-bottom: 5px;
    transition: 0.5s;
    }
.edit:hover
    {
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
    }

table {
    border-collapse: collapse;
    width: 961px;
    height: 120px;
    margin-bottom: 10%;
 }

th, td {
    text-align: center;
    font-size: 1.3em;
    padding: 8px;
    font-family: azo sans;
    width: 200px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #188279;
    color: white;
    font-weight: bold;
}