body  
{
  font-family: century Gothic;
}
.heading
  {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 4em;
  }

    .btn-group button {
    background-color: #dcdcdc;
    border: 1px solid #083036;
    color: #083036; 
    padding: 3px 11px; 
    cursor: pointer; 
    float: left; 
    font-size: 20px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: #80dbdc;
}



/*<------------------------- A D D   I T E M ---------------------------->*/

.addbtn
  {
    border: none;
    border-radius: 50px;
    background-color: #299e42;
    font-size: 1.3em;
    font-family: azo sans;
    font-weight: bold;
    color: white;
    padding: 6px;
    transition: 0.5s;
    width: 158px;
    margin-top: 15px;
  }
.addbtn:hover
  {
    border-radius: 50px;
    background-color: #188279;
    transition: 0.5s;
  }
  form  
  { 
    margin-bottom: 10%;
  }
  input[type=text] 
  {
    width: 50%;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus 
  {
      border: 3px solid #00b2a3;
  }
  textarea
  {
     width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  textarea:focus 
  {
      border: 3px solid #00b2a3;
  }
/*<------------------------- EDIT PRODUCT ---------------------------->*/
img.product_img
  {
    width: 200px;
  }
.change_photo
  {
    border: none;
    border-radius: 50px;
    background-color: #078277;
    font-size: 1.3em;
    font-family: azo sans;
    font-weight: bold;
    color: white;
    padding: 4px;
    width: 200px;
    margin-bottom: 10px;

  }
.dropbtn {
    background-color: #078277;
    color: white;
    padding: 4px;
    width: 200px;
    font-size: 20px; font-family: century gothic;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #d8d8d8;transition: 0.3s;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0b4e48;
    transition: 0.3s;
}
/*<------------------------- L I S T ---------------------------->*/

.thumb
  {
  width: 50%;
  }
.delete
  {
  font-size: .8em; font-weight: bold;
  background-color: white;
  width:106px;
    color: #f44336; 
    border: 2px solid #f44336;
    margin-bottom: 2px;
    transition: 0.5s;
  }
.delete:hover
  {
  background-color: #f44336;
    color: white;
    transition: 0.5s;
  }
.edit
  {
  font-size: .8em; font-weight: bold;
  background-color: white;
  width:106px;
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    transition: 0.5s;
  }
.edit:hover
  {
  background-color: #4CAF50;
    color: white;
    transition: 0.5s;
  }

table {
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    margin-bottom: 10%;
    margin-top: 1%;
  }

th, td {
    text-align: left;
    font-size: 1.3em;
    padding: 8px;
    font-family: azo sans;
    width: 200px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #188279;
    color: white;
    font-weight: bold;
    font-family: century gothic;
}

/*<------------------------- G R I D ---------------------------->*/

ul.producthandler
{
  height: 80%;
  list-style: none;
}

div ul li.product
  {
    width: 22%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4% 1% 1% 1%;
    font-family: century gothic;
    text-align: center;
    float: left;
    cursor: pointer;
  }
div ul li.product:hover
  {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transition: 0.2s;
    box-shadow: 0px 0px 30px #03867b;
  } 
img.productimage
  {
    border: 10px; 
    border-radius: 4px;  
    padding: 5%; 
    height: 285px;
    width: 100%;
  }
p.itmname
  {
    font-size: 150%;
    font-weight:bold;
    height: 6em;
  }

.edtbtn
{
   padding: 7px;
   width: 80px;
   margin-left: auto;
   background-color: #00b2a3;
   font-family: azo sans;
   text-anchor: middle;
   color: white;
 }
 .edtbtn:hover 
  {
    background-color: #25bf52;
    color: white;
  }
.dltbtn
{
   padding: 7px;
   width: 80px;
   margin-left: auto;
   background-color: #00b2a3;
   font-family: azo sans;
   text-anchor: middle;
   color: white;
 }
 .dltbtn:hover 
  {
    background-color: #ec3a2d;
    color: white;
  }

  @media screen and (max-width: 786px){
  div ul li.product {
    width: 44%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4% 1% 1% 1%;
    font-family: century gothic;
    text-align: center;
    float: left;
    cursor: pointer;
  }
}

@media screen and (max-width: 567px){
  div ul li.product {
    width: 326px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4% 1% 1% 14%;
    font-family: century gothic;
    text-align: center;
    float: left;
    cursor: pointer;
  }
}

@media screen and (max-width: 460px){
  div ul li.product {
    width: 326px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4% 1% 1% 5%;
    font-family: century gothic;
    text-align: center;
    float: left;
    cursor: pointer;
  }
}

@media screen and (max-width: 386px){
  div ul li.product {
    width: 287px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4% 1% 1% 1%;
    font-family: century gothic;
    text-align: center;
    float: left;
    cursor: pointer;
  }
}